* {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: #004E89;
    border-radius: 0rem 0rem 3rem 3rem;
    width: auto;
    height: 450px;


}

.video-section {
    align-items: center;
    text-align: center;
}

.logo {
    padding-top: 100px;
    padding-left: 100px;
}

.animated-gif {
    width: 300px;
    height: 550px;
    margin-top: 150px;
    align-items: center;
}

.hero-tittle {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: #FF6835;
    padding-left: 20px;
}

.one {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: #FF6835;
    margin-top: 50px;
    text-decoration: underline;
    margin-bottom: 20px;

}

.two {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    color: #004E89;
    padding-left: 10px;

    margin-top: 50px;

}

.tri {
    color: #FF6835;
    margin-top: 20px;
}

h4 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-bottom: 20px;

}


/* End middle */

.navbar-expand-lg {
    display: inline;
    justify-content: space-between;
}

.nav-underline .nav-link {
    display: inline;
    padding-right: 70px;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    justify-content: space-between;
    color: #FF6835;
}


.nav-underline .nav-link:hover {
    color: white;
}

.dropdown-item {
    color: #FF6835;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.dropdown-item:hover {
    text-decoration: underline;
    color: #004E89;
}

.A {  position: fixed;
background-color: #004E89;}

/* Midle section */


h1 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: white;
}


.row {
    padding-bottom: 100px;

}


.row2 {
    padding-top: 250px;
    padding-bottom: 100px;
}




.opis {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 500px;
    margin-left: 100px;
    font-size: 20px;
}


.lead {
    color: #004E89;
    padding-left: 110px;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* Cards */
.card-body {
    width: auto;
    height: auto;

}

.border-danger {
    border: 5rem;
    border-color: hsl(15, 100%, 60%);
    box-shadow: 0 12px 16px 0 rgba(250, 108, 51, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}

.T {
    width: auto;
    height: 300px;
}

.card-title {
    color: #004E89;
    text-align: center;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    padding-top: 50px;
}






.card-text,
.alist {
    text-align: center;
    font-size: 18px;
}


i {
    padding-right: 10px;
}


/* <!-- Heuristic --> */

li,
p {
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.analiza {
    padding-top: 30px;
    text-align: left;
    font-size: 20px;
}



/* <!-- Competitor Analises --> */

.COM {
    padding-bottom: 30px;
    font-size: 28px;
}

.COMPETITOR {
    padding-right: 50px;
}


/* USER RESERCH  */


.z {
    color: #004E89;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    
}


/* USER PERSONA */
.goals {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.AA {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}




.userR {
    font-size: 24px;
    color: #FF6835;
    font-family: 'Merriweather', serif;
    padding-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

.user {
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
    box-shadow: 0 12px 16px 0 #004E89, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.usertext {
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 5px !important;
}

.rowUser {
    margin: auto;
    margin-bottom: 100px;
}







/* <!-- DEFINE --> */

.DEF{
    border-color: #FF6835;
}

.definepic {
    padding-top: 100px;
    width: 100rem;
    height: auto;
    padding-right: 50px;
}


.matrix {
    width: auto;
    height: auto;
    margin-top: 50px;
    border-color: white;
}



/* <!-- User Persona --> */

.card-img-bottom {
    margin-bottom: 100px;
    align-items: center;
}


.card-img-bottom2 {
    margin-bottom: 100px;
    align-items: center;
    margin-left: 300px;
}


.userPersona {
    padding-top: 100px;
}

.scenario {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
color: #FF6835;
}




/* Definition & Ideation */
.Ideation {
    width: auto;
    height: auto;
}





/* <!-- Prototyping --> */

.lowprototype {
    margin-top: 50px;
}

.goals2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/* <!-- Testing and Iterating --> */

ul {
    font-size: 24px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.card-img-top {
    height: auto;
}

.card-body {
    height: auto;
}


.row3 {
    padding-bottom: 30px;
}




.pp { 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: radial-gradient(#FF6835 5%, white 70%);
}


/* Prototype to Figma

.MP2 {
    width: 20%;
    height: auto;
    margin: 50px auto 0 auto;
}


.MP3 {
    width: 40%;
    height: auto;
    margin: 50px auto 0 auto;

}


.final {
    padding-top: 50px;
}


.end {
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
} */


.end {
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.text-center1 { padding-top: 30px;}

/* Buttons*/

.projects {
    background-color: #004E89;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    /* padding-left: 50px;
    padding-right: 50px; */
}

.projects:hover {
    transform: all 0.5s ease-in;
    background-color: pink;
    color: #07439C;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}



    .lastPIC {
        width:250px;
         height:150px;
        /* margin-left: 520px; */
    }

.side {
   width: 44rem;
    height: 800px;
}


.contactButton:hover {
    transform: all 0.5s ease-in;
    background-color: #004E89;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.contactButton {
    background-color: pink;
    color: #004E89;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;

}

.thankYou {
    /* margin-bottom: 500px; */
    font-size: 28px;
    font-family: 'Merriweather', serif;
    align-items: center;
    text-align: center;
 
}






@media all and (max-width:900px) {


    .COMPETITOR {
        padding-bottom: 50px;
    }

    .jumbotron {
        background-color: #004E89;
        border-radius: 0rem 0rem 3rem 3rem;
        /* width: auto; */
        height: 600px;}

    .D {
        position: relative !important;
        max-width: 100%;
    }

    .row {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }


    .rowUser{
        margin-left: 50px;
    }

    .logo {
        padding-top: 250px;
    }

    .card-text {
        font-size: 18px;
    }

    .by {
        margin-left: 10px;
        height: 1300px;
    }

    .card-body {
        width: auto;
        height: auto;
    }

    .side {
        padding-left: 0;
    }

    .opis {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        width: auto;
        font-size: 16px;
        margin-left: 0;
    }

    .z {

        margin-left: 0;
    }


    .card-img-bottom2 {
        margin-bottom: 100px;
        align-items: center;
        margin-left: 0px;
    }

.contactButton {
   margin-bottom: 30px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 50px;

}

.projects {
    margin-left: 100px;
}


.lastPIC {
    margin-left: 120px;}

    

}