* {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: whi;
    border-radius: 0rem 0rem 3rem 3rem;
    width: auto;
    height: 450px;
}

.navbar-expand-lg {
    display: inline;
    justify-content: space-between;
}

.nav-underline .nav-link {
    display: inline;
    padding-right: 70px;
    padding-left: 10px;
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    justify-content: space-between;
    color: #F68714;
    font-weight: 600;
}


.nav-underline .nav-link:hover {
    color:#80CC2A ;
}

.dropdown-item {
    color:  #F68714;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
    text-decoration: underline;
    color: #80CC2A;
}

.tri {
    color: #FF6835;
    margin-top: 20px;
   margin-right: 250px;
}


/* Middle section  */
.logo {
    padding-top: 100px;
    padding-left: 200px;
}


.video-section {
    align-items: center;
    text-align: center;
}


.animated-gif {
    width: 750px;
    height: 550px;
    margin-top: 150px;
    align-items: center;
    margin-right: 100px;
}

.one {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #FF6835;
    /* margin-top: 100px; */
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;

}

.two {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-left: 10px;

}

.row {
    padding-bottom: 100px;

}


.row2 {
    padding-top: 250px;
    padding-bottom: 100px;
}


h1 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: black;
}


h4 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-bottom: 20px;

}

.first {
    margin-top: 100px;
}


 /* End middle section */ 







/* Midle section */



.Project {
    text-align: center;
    padding-top: 200px;
    /* background-color: rgb(245, 242, 238); */
}




/* Cards */
.card-body {
    width: auto;
    height: auto;

}
/* .card-img-bottom1 {
    padding-left: 250px;
} */

.border-danger {
    border: 5rem;
    border-color: hsl(15, 100%, 60%);
    box-shadow: 0 12px 16px 0 rgba(250, 108, 51, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}


.border-danger2 {
    border: 5rem;
    border-color: rgb(128, 204, 42) rgb(255, 102, 51);
    box-shadow: 0 12px 16px 0 rgba(128, 204, 42, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}


.T {
    width: auto;
    height: 600px;
}

.TT {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}




.card-title {
    color: #004E89;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}

    
.card-title2 {
    color: #004E89;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: radial-gradient(  rgb(128, 204, 42) 5%, white 70%);
}   



.card-title3 {
    color: #004E89;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 100px;
}

.cardText {
    
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-bottom: 20px;

}


.alist {
    /* text-align: center; */
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    
}

.alist2 {

    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-bottom: 50px;
    
}


i {
    padding-right: 10px;
}



.Dprocess { 
    display: flex;
    align-items: center;}


.B{ margin-top: 100px;}





/* Design process */


.Reserch
{
    padding-top: 200px;
    padding-bottom: 50px;
}




/* <!-- Competitor Analises --> */

.COM {
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.COMPETITOR {
    padding-right: 50px;
    /* padding-top: 50px; */
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.competitor1 {
    padding-top: 80px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.competitor2 {
    padding-top: 50px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.competitor3 {
    padding-top: 30px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.competitor4 {
    padding-top: 100px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}









.A  { padding-top: 50px;}
.pzz { 
    padding-top: 200px;
        font-weight: 600;
        font-size: 28px;
        padding-top: 50px;
       text-decoration: underline;
       color: #FF6835;
       text-align: center;
    
}



/* USER PERSONA */

.userR {
    font-size: 24px;
    color: #FF6835;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    font-weight: 600;
    text-align: left;
}

.rowUser {
    margin: auto;
    /* margin-bottom: 100px; */
 
}


.user {
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
    box-shadow: 0 12px 16px 0 #004E89, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.usertext {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 5px !important;
}



.PM { 
    font-size: 24px;
    font-weight: 500;
    padding-top: 150px;

}








/* <!-- DEFINE --> */

.DEF{
    border-color: #FF6835;
}

.pzz2 { 
    padding-top: 200px;
        font-weight: 600;
        font-size: 28px;
        padding-top: 50px;
       text-decoration: underline;
       color: #004E89;
       text-align: center;
    
}

.user2 {
    
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
    box-shadow: 0 12px 16px 0 #FF6835, 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.one1 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #FF6835;
    margin-top: 200px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-align: center;
    /* background: linear-gradient(to top left, #FF6835 0%, #004E89 100%); */

}

.card-title4 {
    color: #004E89;
    text-align: left;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* padding-bottom: 50px; */
    padding-top: 100px;
}





/* <!-- User Persona --> */

.card-img-bottom {
    margin-bottom: 100px;
    align-items: center;
}


.card-img-bottom2 {
    margin-bottom: 100px;
    align-items: center;
    margin-left: 300px;
}


.userPersona {
    padding-top: 100px;
}


.scenario {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
color: #FF6835;
}

.UJurney{ 
    align-items: center;
}


/* Definition & Ideation */
.Ideation {
    width: auto;
    height: auto;
}





/* <!-- Prototyping --> */

.styleHOP{
    padding-top: 100px;
    width: 1200px;
    height:900px;
}


.userflowHop{
    width: 150%;
    
}



.lowprototype {
    margin-top: 50px;
}



/* <!-- Testing and Iterating --> */


/* Slideshow carosel Iteration */
.carousel-control-prev-icon,.carousel-control-next-icon   {background-color: #80CC2A;
border-radius: 70px;
size: 100px;
}

.carousel-control-prev, .carousel-control-next {
     
     width: 70rem;
    height: 35rem;}


    .carousel-item{ padding-bottom: 100px;}

.iteration {
    padding-top: 100px;
}

.caro {  font-size: 22px;
    font-weight: 600;
    text-align: center;}

.card-img-top {
    height: auto;
}

.card-body {
    height: auto;
}


.row3 {
    padding-bottom: 30px;
}




.pp { 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: radial-gradient(#FF6835 5%, white 70%);
} 



 .end {
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}


/* 
<!--  Final Thoughts / Conclusion --> */
                                    

.text-center1 { padding-top: 30px;}



/* Buttons*/

.projects {
    background-color: #004E89;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    /* padding-left: 50px;
    padding-right: 50px; */
  
}

.projects:hover {
    transform: all 0.5s ease-in;
    background-color: pink;
    color: #07439C;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}



.contactButton:hover {
    transform: all 0.5s ease-in;
    background-color: #004E89;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.contactButton {
    background-color: pink;
    color: #004E89;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;

}

.thankYou {
    /* margin-bottom: 500px; */
    font-size: 28px;
    font-family: 'Merriweather', serif;
    align-items: center;
   text-align: center;
 
}

.lastPIC {
    width:250px;
     height:150px;
    /* margin-left: 520px; */
}


.COMPETITOR {
    padding-right: 50px;
}

.side {
   width: 44rem;
    height: 800px;
}  





@media all and (max-width:900px) {



    .tri {
        color: #FF6835;
        margin-top: 20px;
        margin-right: 0px;
        
    }


    .T {
        width: auto;
        height: auto;
    }

    .COMPETITOR {
        padding-bottom: 50px;
    }

    

    .D {
        position: relative !important;
        max-width: 100%;
    }

    .row {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }


    .rowUser{
        margin-left: 50px;
    }

    .logo {
        padding-top: 250px;
    }

    .card-text {
        font-size: 18px;
    }

    .by {
        margin-left: 10px;
        height: 1300px;
    }

    .card-body {
        width: auto;
        height: auto;
    }

    .side {
        padding-left: 0;
    }

    .opis {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        width: auto;
        font-size: 16px;
        margin-left: 0;
    }

    .z {

        margin-left: 0;
    }


    .card-img-bottom2 {
        margin-bottom: 100px;
        align-items: center;
        margin-left: 0px;
    }

.contactButton {
   margin-bottom: 30px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 50px;

}

.projects {
    margin-left: 100px;
}


.lastPIC {
    margin-left: 120px;}

    

}