* {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: whi;
    border-radius: 0rem 0rem 3rem 3rem;
    width: auto;
    height: 450px;
}

.navbar-expand-lg {
    display: inline;
    justify-content: space-between;
}

.nav-underline .nav-link {
    display: inline;
    padding-right: 70px;
    padding-left: 10px;
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    justify-content: space-between;
    color: #F68714;
    font-weight: 600;
}


.nav-underline .nav-link:hover {
    color:#80CC2A ;
}

.dropdown-item {
    color:  #F68714;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
    text-decoration: underline;
    color: #80CC2A;
}

.tri {
    color: #FF6835;
    margin-top: 20px;
   margin-right: 250px;
}


/* Middle section  */
.logo {
    padding-top: 100px;
    padding-left: 200px;
}


.video-section {
    align-items: center;
    text-align: center;
}


.animated-gif {
    width: 750px;
    height: 550px;
    margin-top: 150px;
    align-items: center;
    margin-right: 100px;
}

.one {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #FF6835;
    /* margin-top: 100px; */
    text-decoration: underline;
    margin-bottom: 20px;

}

.two {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-left: 10px;
    /* margin-top: 50px; */

}

.row {
    padding-bottom: 100px;

}


.row2 {
    padding-top: 250px;
    padding-bottom: 100px;
}


h1 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: black;
}


h4 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-bottom: 20px;

}

.first {
    margin-top: 100px;
}


 /* End middle section */ 




/* Midle section */



.Project {
    text-align: center;
    padding-top: 100px;
}




/* Cards */
.card-body {
    width: auto;
    height: auto;

}

.border-danger {
    border: 5rem;
    border-color: hsl(15, 100%, 60%);
    box-shadow: 0 12px 16px 0 rgba(250, 108, 51, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}


.border-danger2 {
    border: 5rem;
    border-color: rgb(128, 204, 42) rgb(255, 102, 51);
    box-shadow: 0 12px 16px 0 rgba(128, 204, 42, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}


.T {
    width: auto;
    height: 500px;
}

.TT {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}




.card-title {
    color: #004E89;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
   
}

    
.card-title2 {
    color: #004E89;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: radial-gradient(  rgb(128, 204, 42) 5%, white 70%);
}   



.card-text,
.alist {
    text-align: left;
    font-size: 20px;
}

.card-text2,
.alist {
    text-align: center;
    font-size: 24px;
}



i {
    padding-right: 10px;
}



.Dprocess { 
    display: flex;
    align-items: center;}


.B{ margin-top: 100px;}





/* Design process */


.Reserch
{
    padding-top: 200px;
    padding-bottom: 50px;
}




/* <!-- Competitor Analises --> */

.COM {
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.COMPETITOR {
    padding-right: 50px;
    padding-top: 50px;
}

.competitor1 {
    padding-top: 80px;
}

.competitor2 {
    padding-top: 40px;
}

.competitor3 {
    padding-top: 100px;
}


.competitor4 {
    padding-top: 60px;
}

.pzz { 
    padding-top: 100px;
        font-weight: 600;
        font-size: 24px;
        padding-top: 50px;
       text-decoration: underline;
    
}



/* USER PERSONA */

.userR {
    font-size: 24px;
    color: #FF6835;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

.rowUser {
    margin: auto;
    margin-bottom: 100px;
 
}


.user {
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
    box-shadow: 0 12px 16px 0 #004E89, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.usertext {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 5px !important;
}



.PM { 
    font-size: 24px;
    font-weight: 500;
    padding-top: 150px;

}








/* <!-- DEFINE --> */

.DEF{
    border-color: #FF6835;
}





/* <!-- User Persona --> */

.card-img-bottom {
    margin-bottom: 100px;
    align-items: center;
}


.card-img-bottom2 {
    margin-bottom: 100px;
    align-items: center;
    margin-left: 300px;
}


.userPersona {
    padding-top: 100px;
}

.scenario {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
color: #FF6835;
}




/* Definition & Ideation */
.Ideation {
    width: auto;
    height: auto;
}





/* <!-- Prototyping --> */

.lowprototype {
    margin-top: 50px;
}

.goals2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/* <!-- Testing and Iterating --> */

ul {
    font-size: 24px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.card-img-top {
    height: auto;
}

.card-body {
    height: auto;
}


.row3 {
    padding-bottom: 30px;
}




.pp { 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: radial-gradient(#FF6835 5%, white 70%);
}


/* Prototype to Figma

.MP2 {
    width: 20%;
    height: auto;
    margin: 50px auto 0 auto;
}


.MP3 {
    width: 40%;
    height: auto;
    margin: 50px auto 0 auto;

}


.final {
    padding-top: 50px;
}


.end {
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
} */





/* Buttons*/

.projects {
    background-color: #004E89;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 550px;
}

.projects:hover {
    transform: all 0.5s ease-in;
    background-color: pink;
    color: #07439C;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}



.contactButton:hover {
    transform: all 0.5s ease-in;
    background-color: #004E89;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.contactButton {
    background-color: pink;
    color: #004E89;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   margin-top: 50px;
    margin-left: 550px;
    padding-left: 50px;
    padding-right: 50px;
}

.thankYou {
    /* margin-bottom: 500px; */
    font-size: 28px;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
}

.lastPIC {
    margin-left: 520px;}


.COMPETITOR {
    padding-right: 50px;
}

.side {
   width: 44rem;
    height: 800px;
}


@media all and (max-width:900px) {



    .tri {
        color: #FF6835;
        margin-top: 20px;
        margin-right: 0px;
        
    }


    .T {
        width: auto;
        height: auto;
    }

    .COMPETITOR {
        padding-bottom: 50px;
    }

    

    .D {
        position: relative !important;
        max-width: 100%;
    }

    .row {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }


    .rowUser{
        margin-left: 50px;
    }

    .logo {
        padding-top: 250px;
    }

    .card-text {
        font-size: 18px;
    }

    .by {
        margin-left: 10px;
        height: 1300px;
    }

    .card-body {
        width: auto;
        height: auto;
    }

    .side {
        padding-left: 0;
    }

    .opis {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        width: auto;
        font-size: 16px;
        margin-left: 0;
    }

    .z {

        margin-left: 0;
    }


    .card-img-bottom2 {
        margin-bottom: 100px;
        align-items: center;
        margin-left: 0px;
    }

.contactButton {
   margin-bottom: 30px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 50px;

}

.projects {
    margin-left: 100px;
}


.lastPIC {
    margin-left: 120px;}

    

}